:root {
  --primaryColor: #ec5b53;
  --secondaryColor: #002d5b;
  --muteColor: #eee;
  --lightColor: #fef6f6;
  --overlay: #35373a;
  --textColor: #444;
  --whiteColor: #fff;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
}

/* Start Components */
.btnComponent {
  border-radius: 0.4rem;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  padding: 1.2rem 1.6rem;
  border: none;
}

.textBoxComponent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.textBoxComponent>h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.textBoxComponent>h2 {
  font-size: 3rem;
}

.textBoxComponent>p {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.lineComponent {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--primaryColor);
  margin-bottom: 1.4rem;
}

.cardComponent {
  border: 0.1rem solid var(--primaryColor);
  background-color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1.5rem;
  padding: 2rem 1rem;
  gap: 2rem;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.07);
}

.cardComponent>p {
  font-size: 1.6rem;
  color: var(--textColor);
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.cardComponent>h3 {
  font-size: 2rem;
}

.cardComponent>i {
  font-size: 2.5rem;
  color: var(--primaryColor);
}

.input-component {
  width: 70%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.cardComponent>a {
  width: 12rem;
  padding: 0.5rem;
  background-color: var(--primaryColor);
  font-size: 2rem;
  border: 0.1rem solid var(--overlay);
  border-radius: 15%;
  color: var(--whiteColor);
}

.cardComponent>a:link {
  color: var(--whiteColor);
  text-decoration: none;
}


/* End Components */

/* Start Header Style */
.header {
  background-color: #2E4374;
  /* background-color: var(--overlay); */
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 25;
}

/* Start navbar */
.headerNav ul {
  font-size: 1.1rrem;
  /* display: none; */
  list-style-type: none;
  overflow: hidden;
  background-color: var(--secondaryColor);
  border-radius: 2rem;

}

.headerNav li {
  display: inline;
  float: right;
}

.headerNav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}

.headerNav li a:hover {
  background-color: #111;
}

.headerBtn {
  display: none;
}

.headerLogo {
  width: 6rem;
  height: 6rem;
}



/* end navbar */
.menuIcon {
  font-size: 2.4rem;
  color: var(--primaryColor);
}

/* End Header Style */

/* Start Me Section Style */
#meSection {
  padding: 2rem;
}

.meSectionTextBox {
  text-align: center;
}

.meNav {
  display: none;
}

.meHeading {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.meDescription {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.meImage {
  max-width: 100%;
  aspect-ratio: 0.7;
}

/* End Me Section Style */

/* Start About Section Style */
#about {
  padding: 2rem;
  background-color: var(--whiteColor);
}

.aboutHeading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.aboutTextBox {
  margin-bottom: 1.5rem;
}

.aboutFirstContent {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.aboutFirstContent>p:first-child {
  margin-bottom: 1.5rem;
}

.aboutSecondeContent {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.aboutSecondeContent>p:first-child {
  margin-bottom: 1.5rem;
}

.aboutBtn {
  margin-bottom: 2rem;
}

.aboutImageContainer {
  padding: 1.5rem;
}

/* .aboutImageWrapper {
  text-align: center;
  padding: 1rem;
  background-color: var(--primaryColor);
  border-radius: 1.5rem;
  
  position: relative;
  width: 100%;
  height: 40rem;
}
.aboutImage {
  width: 100%;
  height: 36rem;
  border-radius: 1rem;
  text-align: left;
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
} */

/* this is my try */

/* .aboutImageContainer {
  align-content: center;
}
.aboutImageWrapper {
  padding: 1rem;
  background-color: var(--primaryColor);
  border-radius: 1.5rem;
}
.aboutImage {
  width: 95%;
  height: 36rem;
  border-radius: 1rem;
}
.divtodiv {
  margin: -2.5rem;
  padding: 1.5rem;
} */

.aboutImage {
  max-height: 100vh;
  width: 100%;
  background-color: var(--primaryColor);
  border-radius: 1rem;
  filter: drop-shadow(2rem -2rem var(--primaryColor));
}

/* End About Section Style */
/* Start Service Section Style */
#services {
  padding: 3rem;
  background-color: var(--lightColor);
}

.servicesTextBox {
  margin-bottom: 2rem;
}

.servicesCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.servicesCardWrapper .cardComponent img {
  width: 6rem;
  height: 6rem;
}

.servicesIcon {
  font-size: 3rem;
  color: var(--textColor);
}

/* End Services Section style */
/* Start Work Section style */
#work {
  color: var(--whiteColor);
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.overlay {
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: 10;
}

.workBgImage {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/web-developer-bg-min.jpg");
}

.workTextBox {
  z-index: 20;
  padding: 1rem;
}

.workIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.workHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.workDescription {
  font-size: 1.6rem;
}

/* End Work Section style */

/* Start experience Section style */

#experience {
  padding: 1rem 2.5rem;
  background-color: var(--lightColor);
}

.experienceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.upcard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.downcard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experienceCard {
  text-align: left;
  align-items: start;
  padding: 2rem;
}

.experienceCard>time {
  font-size: 1.6rem;
  color: var(--primaryColor);
}

.progressWrapper {
  width: 100%;
  height: 2rem;
  background-color: var(--muteColor);
  border-radius: 10rem;
  overflow: hidden;
}

.progress {
  height: 100%;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}

.progressLabel {
  margin: 0;
  color: var(--whiteColor);
  font-size: 1.2rem;
}

/* End experience Section style */
/* Satart portfolio */

#portfolio {
  padding: 3rem;
}

.slidshow-img {
  width: 100%;
}

/* Slideshow container */

/* .slider-wrapper {
  position: relative;
  max-width: 70%;
  margin: 0 auto;

}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none;
  /* Hide scrollbar IE and Edge */
/* scrollbar-width: none; */
/* Hide scrollbar Firefox */

}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
} */


#slider {
  overflow: hidden;
}

@keyframes slider {
  0% {
    left: 0;
  }

  30% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  63% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  95% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

#slider figure {
  width: 300%;
  position: relative;
  animation: 9s slider infinite;
}

#slider figure:hover {
  /*animation-play-state: paused; enable for pause on hover*/
}

#slider figure img {
  width: 33.333333333%;
  height: 100%;
  float: left;
  border-radius: 2rem;
  border: 0.3rem solid var(--primaryColor);
}


/* End portfolio */
/* Start Clients */
#clients {
  padding: 3rem;
}

.client-img {
  border-radius: 50%;
  border: 0.3rem solid var(--primaryColor);
}

.client-name {
  font-size: 1.6rem;
  color: var(--textColor);
  margin-bottom: 2rem;
}

/* End of Clients */
/* Start contact */
#contact {
  padding: 1rem 2.5rem;
  background-color: var(--lightColor);
}

/* End contact */
/* Start Footer */

#footer-section {
  font-size: 1.2rem;
  background-color: var(--secondaryColor);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: var(--whiteColor);
}



#footer-section>a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
  list-style: none;
}

.footer-social-icons {
  width: 35rem;
  display: block;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 10rem;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 1rem 1.4rem;
}

.fa-twitter {
  padding: 1rem 1.2rem;
}

.fa-rss {
  padding: 1rem 1.4rem;
}

.fa-youtube {
  padding: 1rem 1.4rem;
}

.fa-linkedin {
  padding: 1rem 1.4rem;
}

.fa-github {
  padding: 1rem 1.4rem;
}

/* End Footer */

/* Start Projects */
#project-links {
  padding: 1rem 2.5rem;
  background-color: var(--lightColor);
}

.projectcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* End Projects */
/* From 768px */

@media only screen and (min-width: 768px) {

  /* Start header */
  .headerNav ul {

    font-size: 2rem;
  }


  /* End header */

  /* Start meSection */

  #meSection {
    display: flex;
  }

  .meSectionTextBox {
    text-align: start;
    padding: 10rem 0 10rem 0;
  }

  .meSectionLeft {
    float: left;
  }

  .SectionRight {
    max-width: 40%;
    float: right;
  }

  /* End meSection */
  /* Start About me */

  /* .aboutImageAndDes {
    display: flex;
  }

  .aboutImageContainer{
    display: flex;
    float: right;
    width: 30%;
  }
  .aboutSecondeContent {
    margin-top: 20rem;
  } */
  .aboutContainer {
    display: flex;
  }

  .aboutImage {
    margin-top: 8rem;
  }

  /* End About me */

  /* Start services */

  .servicesCardWrapper {
    flex-direction: row;
    gap: 0rem;
  }

  .cardComponent {
    max-width: 33.33%;
    margin: 1rem;
    border: 0.1rem solid var(--primaryColor);
  }

  /* End services */
  /* Start ex */
  .upcard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .upcard article {
    max-width: 50%;
  }

  .downcard {
    display: flex;
    flex-direction: row;
  }

  /* End ex */

  /* Start Projects */
  .projectcards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  /* End Projects */
  #footer-section {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    padding: 0rem;
  }

  p {
    line-height: 3rem;
  }

  .projectcards {
    justify-content: space-between;
  }
  
}